.grid-table-container {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
  max-height: 650px;
  overflow-y: auto;
}

.grid-table-header {
  display: contents;
}

.grid-table-header .grid-table-cell {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 2; /* Ensure the header is above the scrolling content */
  border-bottom: 1px solid #ccc;
}

.grid-table-body {
  display: contents;
}

.grid-table-row {
  display: contents;
}

.grid-table-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.grid-table-cell:first-child {
  justify-content: center;
}

.grid-table-cell-clickable {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.grid-table-cell-clickable:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.grid-table-cell-clickable:focus {
  outline: none;
  background-color: #e0e0e0; /* Slightly darker gray background on focus */
}

.checking-account-statement-grid-table-container {
  display: grid;
  grid-template-columns: 60px 90px 100px 45px 45px 1.75fr .5fr .5fr 60px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
  max-height: 650px;
  overflow-y: auto;
}

.credit-card-statement-grid-table-container {
  display: grid;
  grid-template-columns: 60px 90px 100px 45px 45px 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
  max-height: 650px;
  overflow-y: auto;
}

.credit-card-statement-grid-table-header {
  display: contents;
}

.credit-card-statement-grid-table-header .credit-card-statement-grid-table-cell {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 2; /* Ensure the header is above the scrolling content */
  border-bottom: 1px solid #ccc;
}

.credit-card-statement-grid-table-body {
  display: contents;
}

.credit-card-statement-grid-table-row {
  display: contents;
}

.credit-card-statement-grid-table-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.credit-card-statement-grid-table-cell:first-child {
  justify-content: center;
}

.credit-card-statement-grid-table-cell-clickable {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.credit-card-statement-grid-table-cell-clickable:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.credit-card-statement-grid-table-cell-clickable:focus {
  outline: none;
  background-color: #e0e0e0; /* Slightly darker gray background on focus */
}


